<div class="row content">
    <div class="large-8 medium-12 small-12 large-centered columns">

        <%= link_to '< Back to Barber', barbers_path %>
        <h1>Editing Barber</h1>

        <%= render 'form' %>


    </div>
</div>
