<div class="row">
    <div class="large-8 medium-12 small-12 large-centered columns">
        <h1>New Appointment</h1>

        <%= render 'form' %>

        <%= link_to 'Back', barber_path(@appointment.barber) %>

    </div>
</div>
